/.ddev export-ignore
/.github export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/captainhook.json export-ignore
/composer-dependency-analyser.php export-ignore
/eslint.config.mjs export-ignore
/package.json export-ignore
/php-cs-fixer.php export-ignore
/phpstan.neon export-ignore
/phpstan-baseline.neon export-ignore
/rector.php export-ignore
