/.ddev export-ignore
/.github export-ignore
/Tests export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/captainhook.json export-ignore
/composer-dependency-analyser.php export-ignore
/composer-unused.php export-ignore
/eslint.config.mjs export-ignore
/package.json export-ignore
/version-bumper.yaml export-ignore
