parameters:
	ignoreErrors:
		-
			message: '#^Out of 29 possible param types, only 24 \- 82\.7 %% actually have it\. Add more param types to get over 95 %%$#'
			identifier: typeCoverage.paramTypeCoverage
			count: 2
			path: Classes/EventListener/ContentMinifierEventListener.php

		-
			message: '#^Method TYPO3Fluid\\Fluid\\Core\\ViewHelper\\TagBuilder@anonymous/Classes/ViewHelpers/Asset/CssViewHelper\.php\:26\:\:addAttribute\(\) has parameter \$attributeValue with no value type specified in iterable type Traversable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: Classes/ViewHelpers/Asset/CssViewHelper.php

		-
			message: '#^Method TYPO3Fluid\\Fluid\\Core\\ViewHelper\\TagBuilder@anonymous/Classes/ViewHelpers/Asset/CssViewHelper\.php\:26\:\:addAttribute\(\) has parameter \$attributeValue with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: Classes/ViewHelpers/Asset/CssViewHelper.php

		-
			message: '#^Out of 29 possible param types, only 24 \- 82\.7 %% actually have it\. Add more param types to get over 95 %%$#'
			identifier: typeCoverage.paramTypeCoverage
			count: 3
			path: Classes/ViewHelpers/Asset/CssViewHelper.php
