<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:asset.css identifier="project-version">
        .topbar-header-project-version {
            display: inline-block;
            padding: 13.5px;
        }
    </f:asset.css>

    <f:if condtion="{version}">
        <div class="topbar-header-project-version"  title="Project version">
            <core:icon identifier="actions-tag" size="small" /> {version}
        </div>
    </f:if>
</html>
